<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice.present? %>
    <%= notice %>
  <% end %>
  <% if current_user %>
    <p>Signed in as <%= current_user.username %> </p>
    <p><%= link_to "Sign Out", signout_path %></p>
    <% else %>
    <p>
      <%= link_to "Sign Up", signup_path %>
      <%= link_to "Sign In", signin_path %>
      </p>
  <% end %>
<%= yield %>

</body>
</html>
